// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html
//0f2a54


$v-app-loading-text: "Stealthy_Alda";
//$v-background-color: #0f2a54;
$v-background-color: #3C96D2;
$v-focus-color: #fff;
//$v-background-image: url("Image/background_home.jpg");
$v-panel-background-color: $v-background-color;
$v-overlay-background-color: $v-background-color;
$valo-menu-background-color: $v-background-color;
$v-overlay-shadow: 0 0 0 1px rgba(#fff, .5);
$v-window-shadow: $v-overlay-shadow;
$v-window-modality-curtain-background-color: $v-background-color;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-border: 1px solid (v-tint 1.5);
$v-textfield-background-color: $v-background-color;
//$v-font-family: sans-serif;
$v-font-family: "OCR A Extended";
$v-font-size: 18px;

.body {
  //$v-background-color: black;
  //$v-background-color: transparent;
  //$v-background-image: url("Image/background_home.jpg");
}

//LOGINSEITE
.login .v-panel-content {
  background-color: white;
  border: 0px #ffffff;
  padding: 10px;
  font-family: "OCR A Extended", sans-serif;
  color: #0f2a54;
  //background-image: url("Image/background_home.jpg");
}


//.headlabel {
// font-family: Verdana, sans-serif;;
//color: #0f2a54;
//color: palegreen;
// padding: 10px;
// font-size: 14px;

//}

//.loggedLabel {
// font-family: Verdana, sans-serif;;
// color: #0f2a54;
// padding: 10px;
// font-size: 14px;

//}

.layout-with-border {
  border: 1px solid black;
}


@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .link {
    padding: 5px 10px !important;
    background-color: transparent !important;
    color: black !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    height: auto !important;
    min-width: 100px !important;
    font-family: "OCR A Extended", sans-serif;
    //font-size: small !important;
    font-size: 25px;
    -webkit-transition: all 200ms ease-in-out !important; /* Firefox */
    -moz-transition: all 200ms ease-in-out !important; /* WebKit */
    -o-transition: all 200ms ease-in-out !important; /* Opera */
    transition: all 200ms ease-in-out !important; /* Standard */
  }

  .link:hover {
    color: white !important;
    background-color: #464646 !important;
    text-decoration: none !important;
  }

  //TEXTFELDER
  .v-textfield {
    background-color: white;
    color: black;

    .v-textfield-caption {
      color: black;

    }
  }

  .v-textarea {
    overflow-y: auto ! important;
    background-color: white;
    color: black;

  }
  .v-panel {
    background-color: white;
  }
  .toppanelbutton {
    .v-button-caption {
      color: white;
    }
  }

  .suchseite {
    .v-layout {
      border: 1px solid black;;
    }
  }
  .v-button {
    color: white;
    //background: #0be881;
    //background-color: #00A2E8;
    background-color: #e36566;
    font-family: "OCR A Extended", sans-serif;
    font-size: 20px;
  }

  //----------------------------------------------------\\


  //TopPanelSTART -> LOGO
  .TopPanelSTART-logo {
    height: 270px;
    width: 270px;
  }

  //--------------------STARTSEITE-----------------------------\\

  //Startseite LABEL-ANFANG
  .STARTSEITE-label {
    font-family: "OCR A Extended", sans-serif;
    font-size: 70px;
    color: white;
  }
  //Startseite LABEL-ENDE

  //Startseite LABEL2-ANFANG
  .STARTSEITE-label2 {
    font-family: "OCR A Extended", sans-serif;
    font-size: 20px;
    color: white;
  }
  //Startseite LABEL2-ENDE


  //Startseite Button -LOS ANFANG
  .STARTSEITE-los {
    display: inline-block;
    border-radius: 4px;
    //background-color: #00A2E8;
    background-color: #e36566;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-family: "OCR A Extended", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .STARTSEITE-los span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
  }

  .STARTSEITE-los span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.8s;
  }

  .STARTSEITE-los:hover span {
    padding-right: 25px;
  }

  .STARTSEITE-los:hover span:after {
    opacity: 1;
    right: 0;
  }
  //Startseite Button -LOS ENDE

  //------------------------LOGINSEITE-----------------\\

  //LOGINSEITE Button oben Anmelden
  .LOGINSEITE-anmelden {
    font-size: 25px;
    font-family: "OCR A Extended", sans-serif;
  }

  //LOGINSEITE Button oben Registrieren
  .LOGINSEITE-registrieren {
    font-size: 25px;
    font-family: "OCR A Extended", sans-serif;
  }

  //LOGINSEITE LABEL Willkommen zurück
  .LOGINSEITE-willkommen {
    font-size: 20px;
    font-family: "OCR A Extended", sans-serif;
  }
  //LOGINSEITE Button Password vergessen
  .LOGINSEITE-pwVergessen {
    font-size: 12px;
    font-family: "OCR A Extended", sans-serif;
    display: inline;
  }
  //LOGINSEITE Checkbox Angemeldet bleiben
  .LOGINSEITE-check {
    font-size: 12px;
    font-family: "OCR A Extended", sans-serif;
  }

  //Loginseite Button -LOGIN ANFANG
  .LOGINSEITE-login {
    display: inline-block;
    border-radius: 4px;
    //background-color: #3C96D2;
    background-color: #e36566;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: "OCR A Extended", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .LOGINSEITE-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .LOGINSEITE-login span:after {
    //content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .LOGINSEITE-login:hover span:after {
    opacity: 1;
    right: 0;
  }
  //Loginseite Button -LOGIN ENDE


  //------------------REGISTRIERSEITE-----------\\

  .REGISTERSEITE-registrieren {
    display: inline-block;
    border-radius: 4px;
    background-color: #e36566;
    //background-color: #3C96D2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: "OCR A Extended", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .LOGINSEITE-registrieren span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .LOGINSEITE-registrieren span:after {
    //content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .LOGINSEITE-registrieren:hover span:after {
    opacity: 1;
    right: 0;
  }
  //------------------REGISTRIERSEITEArbeitgeber-----------\\

  .REGISTERSEITEArbeitgeber-registrieren {
    display: inline-block;
    border-radius: 4px;
    background-color: #e36566;
    //background-color: #3C96D2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: "OCR A Extended", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .REGISTERSEITEArbeitgeber-registrieren span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .REGISTERSEITEArbeitgeber-registrieren span:after {
    //content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .REGISTERSEITEArbeitgeber-registrieren:hover span:after {
    opacity: 1;
    right: 0;
  }
  //------------------REGISTRIERSEITEStudent-----------\\

  .REGISTERSEITEStudent-registrieren {
    display: inline-block;
    border-radius: 4px;
    background-color: #e36566;
    //background-color: #3C96D2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: "OCR A Extended", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .REGISTERSEITEStudent-registrieren span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .REGISTERSEITEStudent-registrieren span:after {
    //content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .REGISTERSEITEStudent-registrieren:hover span:after {
    opacity: 1;
    right: 0;
  }

}