.mytheme .app-shell .custom-menubar .v-menubar-menuitem {
	position: relative;
}

.mytheme .app-shell .custom-menubar .v-menubar-menuitem ::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background: $v-focus-color;
	bottom: -20px;
	left: 0;
}

.mytheme .app-shell .navigation-bar {
	background: $v-focus-color;
	z-index: 10000;
}

.mytheme .app-shell .padding {
	padding: $v-unit-size;
}

.mytheme .app-shell .padding-top {
	padding-top: $v-unit-size;
}

.mytheme .app-shell .padding-right {
	padding-right: $v-unit-size;
}

.mytheme .app-shell .padding-bottom {
	padding-bottom: $v-unit-size;
}

.mytheme .app-shell .padding-left {
	padding-left: $v-unit-size;
}

.mytheme .app-shell[width-range~="601px-1000px"] .navigation-bar-container {
	width: 80px !important;
}

.mytheme .app-shell[width-range~="601px-1000px"] .navigation-bar-container .logo {
	font-size: $v-font-size;
}

.mytheme .app-shell[width-range~="601px-1000px"] .navigation-bar-container .navigation .v-button {
	font-size: 26px;
	height: 60px;
	padding: 10px 6px;
	box-sizing: border-box;
	line-height: 1;
}

.mytheme .app-shell[width-range~="601px-1000px"] .navigation-bar-container .navigation .v-button::before {
	content: none;
}

.mytheme .app-shell[width-range~="601px-1000px"] .navigation-bar-container .navigation .v-button .v-button-wrap {
	width: 100%;
}

.mytheme .app-shell[width-range~="601px-1000px"] .navigation-bar-container .navigation .v-button .v-button-caption {
	font-size: $v-font-size;
	margin: 0;
	width: 100%;
	float: left;
	margin-top: 3px;
	text-align: center;
}

.mytheme .app-shell[width-range~="601px-1000px"] .navigation-bar-container .navigation .v-button .v-icon {
	width: 100%;
	float: left;
	text-align: center;
}

.mytheme .app-shell[width-range~="-600px"] .navigation-bar-container {
	width: 0px !important;
}

.mytheme .app-shell[width-range~="-600px"] .menu {
	display: block;
}

.mytheme .app-shell[width-range~="-600px"] .navigation {
	visibility: hidden;
	transition: visibility 0.1s;
}

.mytheme .app-shell[width-range~="-600px"] .menu:focus {
	pointer-events: none;
}

.mytheme .app-shell[width-range~="-600px"] .menu:focus + .navigation {
	visibility: visible;
}

.mytheme .app-shell[width-range~="-600px"] .navigation-bar {
	position: fixed;
	width: 100%;
	height: $v-unit-size !important;
}

.mytheme .app-shell[width-range~="-600px"] .logo {
	line-height: $v-unit-size;
	width: auto !important;
	float: left;
	padding: 0 $v-unit-size;
	font-size: $v-font-size;
}

.mytheme .app-shell[width-range~="-600px"] .content-container {
	padding-top: $v-unit-size;
}